/*
FONT IMPORT GOOGLE FONTS
*/
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,325;0,350;0,375;0,400;0,500;0,600;1,100;1,200;1,300&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

:root {
    /* FONTS */
    --text: 'Josefin Sans', sans-serif;
    --text2: 'Josefin Slab', serif;
    --heading: 'Playfair Display', serif;
}


.ingress {
    margin-top: calc(var(--line-height)*1px);
    --font-size: 24;
    font-family: var(--heading);
    font-weight: 400;
    color: var(--light-magenta);
}


/*CALCULATIONS line-height/font-size etc.*/
*,
* * {
    --shf: 4.9406564584124654e-324;
    --base-font-size: 20;
    --font-size:
        var(--base-font-size);
    --font-size-min: var(--font-size)*0.7;
    --line-height:
        calc(var(--base-font-size) * 1.4);
    --mp:
        calc((var(--font-size) / var(--line-height)) * var(--shf) / var(--shf));
    --fs:
        calc(var(--font-size) * 1px);
    --fsMin: calc(var(--font-size-min) * 1px);
    --lh:
        calc(max(var(--line-height), calc((var(--line-height) * var(--mp)))) * 1px);
    --lhMin: calc(clamp(var(--fsMin), 16vmin, var(--fs))*1.2px);
    color: white;
    box-sizing: border-box;
    /*default font-setting */
    font-family: var(--text);
    font-size: clamp(var(--fsMin), 16vmin, var(--fs));
    line-height: max(var(--fsMin), 1.4em, var(--fs));
    font-weight: 350;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: calc((var(--line-height)*(2/3))*1px);

}

/* Headings */
h1,
h2,
h3 {
    --font-size-min: calc(var(--font-size)/1.3);
    font-family: var(--heading);
    color: var(--orange);
    margin-bottom: calc((var(--line-height)*(4/3))*1px);
    font-weight: 800;
}

h4,
h5,
h6 {
    font-family: 'Josefin Sans', serif;
    font-weight: normal;
    margin-bottom: calc((var(--line-height)*(1/3))*1px);
}

h1 {
    --font-size: 100;
    margin-bottom: var(--line-height) !important;
}

h2 {
    --font-size: 58;
    margin-bottom: var(--line-height) !important;
}

h3 {
    --font-size: 38;
    margin-bottom: var(--line-height) !important;
}

h4 {
    --font-size: 32;
}

h5,
h6 {
    --font-size: 24;
}

/* Paragraph */

p {
    padding-bottom: calc(var(--line-height) * 1px);
    /*padding instead of margin so not to interfear with margins of headings*/
}
