:root {
  --size:100vmax;
  --p:800;
  --_p: calc(var(--p)*1px);
  --currentRotation: rotate3d(0, 0, 0, 0deg);
  --newRotation: rotate3d(0, 0, 0, 90deg);
  --offset: calc(var(--size) / 2);
  --perspective: calc(4 * var(--size));
  --scale: scale(calc(calc(var(--p) - 206)/var(--p))) rotateY(0deg)
  --frontSide: rotateY(0deg) rotateX(0deg) rotateZ(0deg);
  --topSide: rotateY(90deg) rotateX(-90deg) rotateZ(-90deg);
  --leftSide: rotate3d(0,-1,0,90deg);
  --rightSide: rotateZ(90deg) rotateX(90deg) rotateZ(-90deg);
  --bottomSide: rotate3d(1,0,0,90deg);
  --backSide: rotate3d(0,1,0,180deg);
  --currentTransform: var(--scale) var(--frontSide);
}
*,
* * {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-flow: column;
  position: relative;
  margin: 0px;
  justify-content: center;
  overflow:hidden;
  background-image:radial-gradient(hsl(400,50%,95%),white)
}
#page{
  display:grid;
  position:relative;
  width:100%;
  height:100svh;
  grid-template-rows:50px auto;
}
.wrapper {
  grid-row:2;
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  top:0;
  align-items:center;
  perspective:var(--perspective);
  perspective-origin:50% 50%;
  transform-style: preserve-3d;
  overflow:hidden;
}
.scalebox{
  transform-style: preserve-3d;
}
.navbar{
  height:100px;
  position:relative;
  padding:10px;
  background-color:grey;

}
.box {
  border-radius: 100%;
  position: relative;
  width: var(--size);
  height: var(--size);
  transform-style: preserve-3d;
  transform: scale(calc(calc(var(--p) - 206)/var(--p))) rotate3d(0,0,0,0deg);
  transition: 0.1s;
}
.box-side {
  font-size: 30pt;
  font-family: "Bauhaus 93";
  color: white;
  display: flex;
  flex-flow: column wrap;
  align-items:center;
  justify-content:center;
  transform-style: preserve-3d;
  position: absolute;
  width:var(--size);
  height:var(--size);
  user-select: none;
  background-color: hsla(0, 100%, 0%, 1);
  transition: 0.1s;
}
.box-top {
  transform-origin: 50% 0%;
  transform: translateZ(calc(-1 * var(--offset))) rotateX(90deg);
}
.box-front {
  transform-origin: 50% 0%;
  transform: translateZ(var(--offset)) rotate(0deg);
}
.box-left {
  transform-origin: 100% 50%;
  transform: translateZ(calc(-1 * var(--offset))) rotateY(90deg);
}
.box-right {
  transform-origin: 0% 50%;
  transform: translateZ(calc(-1 * var(--offset))) rotateY(-90deg);
}
.box-back {
  transform: translateZ(calc(-1 * var(--offset))) rotateY(180deg);
}
.box-bottom {
  transform-origin: 50% 100%;
  transform: translateZ(calc(-1 * var(--offset))) rotateX(-90deg);

}
.scalebox{
  transform:scale(1)
}
.navbar{
  position:absolute;
  width:100%;
  display:flex;
  justify-content:center;
  position:relative;
  height:50px;
}
.nav-btn{
  padding:5px;
  margin-bottom:4px;
  margin-left:4px;
  border:2.5px outset hsl(190,40%,70%);
background-image:linear-gradient(180deg, hsl(190,55%,65%)20%, hsl(190,60%,70%)50% ,  hsl(190,40%,55%) 110%);
  font-family:sans-serif;
  font-weight:bold;
  font-size:10pt;
  width:100px;
  border-radius:5px;
  transition:1s;
}
.btn-selected{
    border:2.5px inset hsl(190,35%,50%);

background-image:linear-gradient(180deg, hsl(190,45%,55%) 20%, hsl(190,50%,60%)50% ,  hsl(190,40%,45%) 110%);
}


.nav-btn:not(.btn-selected):hover{
    background-color:blue;
 background-image:linear-gradient(180deg, hsl(185,50%,55%) 20%, hsl(185,52%,60%)50% ,  hsl(185,45%,45%) 110%);
}

.content{
  border:1px solid blue;
  position:relative;
  width:90%;
  height:90%;
  max-width:90vw;
  max-height:90svh;
  background-color:lightblue;

}
