body {
  margin:0px;
  padding:0px;
}
p {
  margin:2px;
}
#canvas{
  display:block;
  margin:auto
}
.container{
  display:flex;
  border:1px solid black;
}
.block{
  margin:10px;
}
.points{
  position: absolute;
    top: 33px;
    color: red;
    left: 40px;
}